
# moon
.moon/cache
.moon/docker

# moon
.moon/cache
.moon/docker

# .gitignore Root
node_modules/
dist/

# Ignore semua file .env dimanapun mereka berada
.env
.env.local
.env.*.local
.env.deploy*

# Kecuali file example (agar tim tau butuh variabel apa)
!.env.example
# Local deployment backups
docker-compose.deploy.yml.pre-*
