
# moon
.moon/cache
.moon/docker

# moon
.moon/cache
.moon/docker

# .gitignore Root
node_modules/
dist/

# Ignore semua file .env dimanapun mereka berada
.env
.env.local
.env.*.local

# Kecuali file example (agar tim tau butuh variabel apa)
!.env.example